* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    width: 100%;
    height: 80px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}
.navigate{
    width: 600px;
    height: 80px;
    display: flex;
}
.navigate ul {
    margin-left: 20px;
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.navigate ul li{
    font-weight: 600;
    font-size: 18px;
    color: #0D286C;
    list-style: none;
}
.btnheader{
    width: 400px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btnheader h1{
    color: #0D286C;
    font-size: 20px;
    font-weight: 400;
}
.login{
    width: 120px;
    height: 50px;
    border: 2px solid #003087;
    border-radius: 40px;
    font-size: 18px ;
    font-weight: 600;
    background-color: white;
}
.signup{
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 40px;
    font-size: 18px ;
    font-weight: 600;
    color: white;
    background-color: #003087;
}
.div1{
    width: 100%;
    height: 800px;
    background-image: url(./background-swirls.png);
    background-position: bottom;
    background-size: cover;
    background-blend-mode: color #003087;
    background-color: #003087;
    padding: 50px 90px 0 90px;
}
.div1content{
    width: 70%;
    height: 250px;
}
.div1content h1{
    color: white;
    font-size: 95px;
    font-weight: 500;
}
.div1learnmore{
    width: 70%;
    height: 50px;
    padding: 10px 0;
}
.div1learnmore a{
    text-decoration: none;
    color: #56CCEC;
    font-size: 20px;
    font-weight: 500;
}
.div1xyz{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-between;
}
.div101{
    width: 60%;
    height: 100%;
}
.div102{
    width: 35%;
    height: 100%;
    position: relative;
}
.div101content p{
    font-size: 20px;
    margin-top: 50px;
    font-weight: bold;
    color: white;
}
.div101link{
    width: 90%;
    height: 350px;
    display: flex;
    padding: 20px 0;
}
.div101link hr{
    height: 80%;
    margin-left: 40px;
}
.div1phone{
    width:350px ;
    height: 100%;
    margin-left: 50px;
}
.phone{
    width: 100%;
    height: 70px;
    padding: 20px 20px;
    border: 1px solid #B7BCBF;
    border-radius: 10px;
    background-color: white;
}
.phone i{
    opacity: 0.5;
}
.div1phone input{
    border: none;
    height: 100%;
    margin-left: 5px;
}
.div1phone button{
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    background-color: #F9B822;
}
.div1phone p{
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}
.div102 img{
    position: absolute;
    right: 80px;
}
.div2{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.div2 h1{
    font-size: 20px;
    font-weight: 400;
}
.div2 a{
    text-decoration: none;
    margin-left: 20px;
}
.div a i{
    margin-left: 20px;
}
.div3, .div5{
    width: 100%;
    height: 600px;
    display: flex;
    padding: 50px 100px 0 100px;
}
.div3img, .div5img{
width: 500px;
height: 500px;
}
.div3content{
    width: 700px;
    height: 100%;
    padding: 100px 50px;
}
.div3content h1{
    font-size: 50px;
    font-weight: 500;
}
.div3content p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.div3content a{
    text-decoration: none;
    font-size: 20px;
}
.div4{
    width: 100%;
    height: 600px;
    display: flex;
    padding: 0 100px;
}
.div4content{
    width: 50%;
    height: 100%;
    padding: 100px 0;
}
.div4content h1{
    font-size: 50px;
    font-weight: 400;
}
.div4content h2{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500
}
.div4content p{
    font-size: 15px;
    margin-top: 20px;
    line-height: 35px;
    margin-bottom: 20px;
}
.div4content a{
    text-decoration: none;
    font-size: 20px;
}
.div4img{
    width: 45%;
    height: 100%;
    margin-top: 20px;
}
.div5content h1{
    font-size: 50px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
}
.div5content p{
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
    margin-bottom: 20px;
}
.div5content a{
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 50px;
}
.div6{
    width: 100%;
    height: 300px;
    padding: 0 100px;
    display: flex;
}
.div6heading{
    width: 500px;
    height: 100%;
}
.div6heading h1{
    margin-top: 50px;
    font-size: 50px;
    font-weight: 400;
}
.div6boxes{
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box1, .box2, .box3, .box4, .box5, .box6{
    width: 200px;
    height: 150px;
}
.box1{
    background-image: url(./image/hulu-logo.jpg);
    background-size: contain;
}
.box2{
    background-image: url(./image/groupon-logo.jpg);
    background-size: contain;
}
.box3{
    background-image: url(./image/potterybarn-logo.jpg);
    background-size: contain;
}
.box4{
    background-image: url(./image/spotify-logo.jpg);
    background-size: contain;
}
.box5{
    background-image: url(./image/ultra-logo.jpg);
    background-size: contain;
}
.box6{
    background-image: url(./image/groupon-logo.jpg);
    background-size: contain;
}
.div7{
    width: 100%;
    height: 500px;
    padding: 50px 0;
    background-color: #121661;
}
.div7heading{
    width: 100%;
    height: 200px;
    padding: 0 200px;
}
.div7heading h1{
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: 400;
}
.div7 button{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    color: #003087;
    margin-left:500px ;
}
.divboxes{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}
.box{
    width: 80px;
    height: 80px;
    color: white;
    background-color: #56CCEC;
    text-align: center;
    border-radius: 20px;
    font-size: 50px;
}
.div8{
    width: 100%;
    height: 500px;
    padding: 0 100px;
}
.div8a{
    width: 100%;
    height: 150px;
}
.div8a p{
    color: gray;
    padding-top: 20px;
    font-size: 15px;
}
.div8b{
    width: 100%;
    height: 350px;
    padding: 50px 20px;
}
.div8b1{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid gray;
}
.div8b1 ul{
    display: flex;
    gap: 15px;
}
.div8b1 ul li{
    color: #003087;
    margin-top: 50px;
    list-style: none;
    font-weight: bold;
}
.div8b2{
    width: 100%;
    height: 150px;
}
.div8b2 ul{
    display: flex;
    margin-top: 10px;
    gap: 20px;
}
.div8b2 ul li{
    list-style: none;
    color: #003087;
    font-weight: bold;
}